* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
}
#sidebar-content {
    background-color: lightblue;
}

#main-content {
    background-color: lightgreen;
}






























