* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#header {
    grid-area: header;
    padding: 8px 36px;
    
}
#header a {
    text-decoration: none;
}

#header #me {
    color: #111111;
    background-color: ;
}

#header #bay {
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 12px;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-areas: auto;
}
#sidebar-column-1 {
    background-color: white;
}

#primary-column {
    background-color: gray;
}

#sidebar-column-2 {
    background-color: white;
}
