* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#palette-1-heading {
    font-family: cursive;
    text-align: center;
}

#palette-1-color{
    background-color: #e76f51;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}

#palette-2-color{
    background-color: #f4a261;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}

#palette-3-color{
    background-color: #e9c46a;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}
#palette-4-color{
    background-color: #2a9d8f;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}
#palette-5-color{
    background-color: #264653;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}
#palette-2-heading{
    font-family: cursive;
    text-align: center;
}
#palette-1-color{
    background-color: #f492a5;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}
#palette-2-color{
    background-color: #f9cbd0;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}
#palette-3-color{
    background-color: #f7e8d8;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px;
}















