* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, 
    #c88b11, 
    #caad6a, 
    rgb(173, 104, 79));
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
#navbar a:hover {
    background: linear-gradient(to top, #d9bf12, #d2dd39);
}