* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/tropical.jpg);
    background-size: cover;
    background-position:  center;
    padding-bottom: 15px;
}

#header img {
    width: 150px;
    padding: 13px 0px;
    align-items: center;
}
#navbar {
    background: linear-gradient(to bottom, #4ec9ff,#3ef1fc,orange,#5dffcf,
    #0abb28);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, 
    orange,
    #4ec9ff,
    #5dffcf,
    #0abb28);
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(0, 213, 255);
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background:orange;
}
#hero {
    background-image: url(../images/buff.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
}

#hero .hero-content {
    text-align: right;
    position: absolute;
    top: 5%;
    right: 10%;
}

#hero h2 {
    font-size: 35px;
    margin-bottom: 60px;
    align-content: center;
    
}

#hero h3 {
    font-size: 24px;
    margin: 0px;
}

#hero a {
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 24px;
    text-align: center;
}
#main-gallery {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
.vertical-masonry-gallery {
    columns: 3 auto; 
    column-gap: 20px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

#menu-container {
    text-align: center;
}























.links {
    display: flex;
    align-items: center; 
}
